body{
	margin: 0px;
}
main{
	margin-right: auto;
	margin-left: auto;
	padding-top: 35px;
}
article{
	width: 70%;
	background-color: #f9f9f9;
	font-family: Verdana;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 45px;
	border: 4px solid #ffa500;
}
footer{
	background: #efefef;
	padding: 15px 15px 15px 15px;
	margin-top: 3%;
	margin-left: 8%;
	margin-bottom: 8%;
}
h1 {
	font-size: 18px;
}
p{
	text-align: justify;
	line-height: 1.5;
	font-size: 16px;
}
.data{
	float: none;
	margin: 8% 8% 3% 8%;
	font-size: 16px;
}
.estilo_data {
	text-align: center;
	background: #efefef;
	padding: 15px 15px 15px 15px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
}
.apresentacao {
	font-weight: 600;
	background: #efefef;
	padding: 15px 15px 15px 15px;
	margin-left: 8%;
}
.conteudo{
	background: #efefef;
	padding: 15px 15px 15px 15px;
	margin-top: 5%;
	margin-left: 8%;
	margin-right: 8%;
	font-size: 16px;
}
.despedida{
	background: #efefef;
	padding: 15px 15px 15px 15px;
	margin-top: 5%;
	margin-left: 8%;
	font-size: 16px;

}
.aluno{
	color: #256585;
	font-size: 16px;
}
.academico{
	font-size: 14px;
}

@media only screen and (min-width: 480px) { 
	footer {
		width: 25%;
		font-size: 18px;
	}
	.estilo_data {
		width: 68%;
		font-size: 18px;
	}
	.apresentacao {
		width: 30%;
		font-size: 16px;
	}
	.despedida{
		width: 20%;
		font-size: 18px;
	}
}

@media only screen and (min-width: 992px) {
	footer {
		width: 25%;
		font-size: 16px;
	}
	.estilo_data {
		width: 60%;
		font-size: 16px;
	}
	.apresentacao {
		width: 30%;
		font-size: 16px;
	}
	.despedida{
		width: 20%;
	}
}

@media only screen and (min-width: 1200px) {
	footer {
		width: 20%;
	}
	.estilo_data {
		width: 48%;
		font-size: 16px;
	}
	.apresentacao {
		width: 23%;
		font-size: 16px;
	}
	.despedida{
		width: 16%;
	}
}

@media only screen and (min-width: 1382px) {
	footer {
		width: 18%;
		font-size: 16px;
	}
	.estilo_data {
		width: 45%;
		font-size: 16px;
	}
	.apresentacao {
		width: 22%;
		font-size: 16px;
	}
	.despedida{
		width: 16%;
	}
}

@media only screen and (min-width: 1560px) {
	footer {
		width: 18%;
		font-size: 16px;
	}
	.estilo_data {
		width: 40%;
		font-size: 16px;
	}
	.apresentacao {
		width: 18%;
		font-size: 16px;
	}
	.despedida{
		width: 14%;
	}
}

@media only screen and (min-width: 1880px) {
	footer {
		width: 15%;
		font-size: 16px;
	}
	.estilo_data {
		width: 32%;
		font-size: 16px;
	}
	.apresentacao {
		width: 15%;
		font-size: 16px;
	}
	.despedida{
		width: 12%;
	}
}